body{
    background: linear-gradient(to right, blue, rgb(60, 166, 236));
    color: white;
    text-align: center;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: white;
}

input{
    padding: 10px;
    border-radius: 10px 0px 0px 10px ;
    width: 200px;
    border: none;
    margin: 0;
    outline: none;
}

button{
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: none;
}

.flagImg{
    image-rendering: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.descript{
    width: 300px;
    margin: auto; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    padding-top: 17px;
}

.nameTemperature{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(to left,rgb(108, 108, 108), rgb(159, 159, 159));
    padding-top: 10px;
    font-size: larger;
    text-shadow: 2px 2px 5px black;
}

.containerTemperature{
    display: flex;
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
    width: 600px;
    margin: auto;
    border-radius: 10px;

}

.infoTemperature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    width: 300px;
    gap: 10px;
    font-size: larger;
    text-shadow: 2px 2px 5px black;
    background: linear-gradient(to right,rgb(108, 108, 108), rgb(159, 159, 159));
}

.descriptionUnique{
    text-transform: capitalize;
}